
.container {
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.mat-form-field {
    width: 40%;
}

.mat-cell {
    text-align: center;
}

.mat-header-cell,
.mat-cell {
    flex: 1;
}

.custom-actions {
    display: flex;
    align-items: center;
}

.custom-control {
    margin-right: 10px;
}
