
<div class="container">
    <form [formGroup]="formRegistrar">
                <div class="row">
                        <mat-toolbar color="primary" >    
                        <span>Actualiza Entidad Financiera</span>    
                        </mat-toolbar>  
                </div>
                <div  class="row"  style="margin-top: 3%">
                  
                            <mat-form-field class="col-md-12">
                                <mat-label>Nombre</mat-label>
                                <input id="validaNombre" matInput [(ngModel)]="entidadFinanciera.nombre" formControlName="validaNombre">
                                
                                <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaNombre.touched">
                                    <span *ngIf="formRegistrar.controls.validaNombre.hasError('required')">
                                        Ingrese el nombre de la entidad
                                    </span>
                                    <span *ngIf="formRegistrar.controls.validaNombre.hasError('pattern')">
                                        El nombre es de 3 a 30 caracteres
                                    </span>
                                    <span *ngIf="formRegistrar.controls.validaNombre.hasError('existeNombre')">
                                        El nombre ya existe
                                    </span>
                                   
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field class="col-md-12">
                                <mat-label>Gerente</mat-label>
                                <input  matInput [(ngModel)]="entidadFinanciera.gerente" formControlName="validaGerente">
                                <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaGerente.touched">
                                    <span *ngIf="formRegistrar.controls.validaGerente.hasError('required')">
                                        Ingrese el nombre del Gerente
                                    </span>
                                    <span *ngIf="formRegistrar.controls.validaGerente.hasError('pattern')">
                                        El Gerente es de 3 a 30 caracteres
                                    </span>
                                    
                                </mat-hint>
                            </mat-form-field>

                            <mat-form-field class="col-md-6">
                                <mat-label>Tipo Entidad</mat-label>
                                <mat-select [(ngModel)]="entidadFinanciera.tipoEntidad!.idDataCatalogo"  formControlName="validaTipoEntidad">
                                    <mat-option value="-1"> [Seleccione] </mat-option>
                                    <mat-option *ngFor="let x of lstTipoEntidad" [value]="x.idDataCatalogo">
                                        {{x.descripcion}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaTipoEntidad.touched">
                                    <span *ngIf="formRegistrar.controls.validaTipoEntidad.hasError('min')">
                                        Seleccione un tipo
                                    </span>
                                </mat-hint>
                            </mat-form-field>
                            
               
                
                    
                            <mat-form-field class="col-md-6">
                                <mat-label>Departamento</mat-label>
                                <mat-select  [(ngModel)]= "entidadFinanciera.ubigeo!.departamento" (selectionChange)="listaProvincia()" formControlName="validaDepartamento">
                                    <mat-option value="1"> [Seleccione] </mat-option>
                                    <mat-option *ngFor="let x of departamentos" [value]="x">
                                        {{x}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaDepartamento.touched">
                                    <span *ngIf="formRegistrar.controls.validaDepartamento.hasError('min')">
                                        Seleccione un departamento
                                    </span>
                                </mat-hint>
                            </mat-form-field>
        
                            <mat-form-field class="col-md-6">
                                <mat-label>Provincia</mat-label>
                                <mat-select [(ngModel)]= "entidadFinanciera.ubigeo!.provincia" (selectionChange)="listaDistrito()" formControlName="validaProvincia">
                                    <mat-option value="1"> [Seleccione] </mat-option>
                                    <mat-option *ngFor="let x of provincias" [value]="x">
                                        {{x}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaProvincia.touched">
                                    <span *ngIf="formRegistrar.controls.validaProvincia.hasError('min')">
                                        Seleccione una provincia
                                    </span>
                                </mat-hint>
                            </mat-form-field>

                            
        
                            <mat-form-field class="col-md-6">
                            <mat-label>Distrito</mat-label>
                            <mat-select [(ngModel)]="entidadFinanciera.ubigeo!.idUbigeo" formControlName="validaDistrito">
                                <mat-option value="1"> [Seleccione] </mat-option>
                                <mat-option *ngFor="let x of distritos" [value]="x.idUbigeo">
                                    {{x.distrito}}
                                </mat-option>
                            </mat-select>
                            <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaDistrito.touched">
                                <span *ngIf="formRegistrar.controls.validaDistrito.hasError('min')">
                                    El distrito es requerido
                                </span>
                            </mat-hint>
                        </mat-form-field>
                
            </div>
            
                <div  class="row"  style="margin-top: 3%; margin-left: auto; margin-right: auto; max-width: fit-content; " >
                    <div mat-dialog-actions>
                    <button  mat-raised-button type="submit" color="primary" [disabled]="formRegistrar.invalid" [mat-dialog-close]="1" (click)="actualiza()">Actualiza</button>
                    <button mat-button type="submit" (click)="salir()" [mat-dialog-close]="2" color="primary" style="color: red;">Salir</button>
                    </div>
                </div>
    </form>
</div>
  



