<app-menu></app-menu>
<div class="container">

    <div class="row">
        <mat-toolbar color="primary">
            <span>Consulta Grupo</span>
        </mat-toolbar>
    </div>

    <div class="row" style="margin-top: 3%">
        <mat-form-field class="col-md-5">
            <mat-label>Descripción</mat-label>
            <input matInput [(ngModel)]="descripcion" >
        </mat-form-field>

        <mat-form-field class="col-md-4">
            <mat-label>Departamento</mat-label>
            <mat-select  [(ngModel)]="iddepartamento" (selectionChange)="listaProvincia()">
                <mat-option value="-1"> [Seleccione] </mat-option>
                <mat-option *ngFor="let x of departamentos" [value]="x">
                    {{x}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-4">
            <mat-label>Provincia</mat-label>
            <mat-select [(ngModel)]="idprovincia" (selectionChange)="listaDistrito()" >
                <mat-option value="-1"> [Seleccione] </mat-option>
                <mat-option *ngFor="let x of provincias" [value]="x">
                    {{x}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-4">
            <mat-label>Distrito</mat-label>
            <mat-select [(ngModel)]="idUbigeo">
                <mat-option value="-1"> [Seleccione] </mat-option>
                <mat-option *ngFor="let x of distritos" [value]="x.idUbigeo">
                    {{x.distrito}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <div class="col-md-2" style="display: flex; align-items: center; justify-content: center">
            <div class="custom-control custom-switch">
                <input [(ngModel)]="estado" type="checkbox" class="custom-control-input" id="idEstado" name="estado"  [checked]="true"/>
                <label class="custom-control-label" for="idEstado">Estado</label>
            </div>
        </div>
        <mat-form-field class="col-md-6">
            <mat-label>Jefe de Prestamista</mat-label>
            <mat-select [(ngModel)]="idLiderUsu">
                <mat-option value="-1"> [Todos] </mat-option>
                <mat-option *ngFor="let aux of lstJefePrestamista" [value]="aux.idUsuario">
                    {{aux.nombreCompleto}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

            

            <div class="row" style="margin-top: 3%; display: flex; align-items: center; justify-content: center">
                <button (click)="consultar()" mat-raised-button type="button" color="primary" style="width: 100px;" >Filtrar</button>
            </div>
        
            <div class="row mat-table" style="margin-top: 3%; ">
            
                <mat-table #table class="mat-cell" [dataSource]="dataSource">
                    <ng-container matColumnDef="idGrupo">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.idGrupo }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="descripcion">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.descripcion}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="idUigeo">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Ubigeo</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.ubigeo.departamento}} - {{aux.ubigeo.provincia}} - {{aux.ubigeo.distrito}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="estado">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.estado == 1 ? "Activo" : "Inactivo" }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="idLiderUsu">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Jefe de Prestamista</mat-header-cell>
                        <mat-cell *matCellDef="let aux">{{ aux.usuarioLider.nombreCompleto}}</mat-cell>
                    </ng-container>
                   
                    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let aux; columns: displayedColumns"></mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[6,8,10]" showFirstLastButtons></mat-paginator>
            
            </div>


    </div>

   

