<app-menu></app-menu>
<div class="container">

<form [formGroup]="formRegistrar"> 
                <div class="row" >
                    
                        <mat-toolbar color="primary"> 
                        <span>Registra Monto Prestamo</span>
                        </mat-toolbar>  
                    
                </div>
                <div  class="row"  style="margin-top: 3%">
                            <mat-form-field class="col-md-4">
                                <mat-label>Capital</mat-label>
                               <input  matInput [(ngModel)] ="objMontoPrestamo.capital" formControlName="validaCapital">
                               <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaCapital.touched">
                                    <span *ngIf="formRegistrar.controls.validaCapital.hasError('required')">
                                        <li>Ingrese el capital</li>
                                        <li>El capital debe de ser solo numeros</li><br>
                                    </span>
                                   
                                   
                                </mat-hint>
                                <!--lo que va en el input :  formControlName="validaDescripcion"-->
                            </mat-form-field>
                        </div>
                        <br> 
                        <div  class="row"  style="margin-top: 3%">
                            <mat-form-field class="col-md-4">
                                <mat-label>Días</mat-label>
                               <mat-select [(ngModel)]="objMontoPrestamo.dias!.idDataCatalogo" formControlName="validaDias">
                                    <mat-option value="-1"> [Seleccione] </mat-option>
                                    <mat-option *ngFor="let x of lstDias" [value]="x.idDataCatalogo">
                                        {{x.descripcion}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaDias.touched">
                                    <span *ngIf="formRegistrar.controls.validaDias.hasError('min')">
                                        <li>El días es requerido</li><br>
                                    </span>
                                </mat-hint> 
                                <!--Lo que va en el select   formControlName="validaDias"-->
                            </mat-form-field>
                        </div>
                        
                        <div  class="row"  style="margin-top: 3%">
                            <mat-form-field class="col-md-4">
                                <mat-label>Monto a Pagar</mat-label>
                                <input  matInput [(ngModel)] ="objMontoPrestamo.monto" formControlName="validaMonto" >
                                 <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaMonto.touched">
                                    <span *ngIf="formRegistrar.controls.validaMonto.hasError('required')">
                                        <li>Ingrese el monto a pagar</li>
                                        <li>El monto debe de ser solo numeros</li><br>
                                    </span>
                                   
                                   
                                </mat-hint>
                                <!--Lo que va en el input : [(ngModel)] ="ejemplo.descripcion" formControlName="validaDescripcion"-->
                            </mat-form-field>
                           
                </div>
               
                   <br>
                <div  class="row"  style="margin-top: 3%; margin-left: auto; margin-right: auto; max-width: 80%;" >
                    <button mat-raised-button type="submit" color="primary" (click)="registraMontoPrestamo()" [disabled]="formRegistrar.invalid" >Registra</button>
                </div>
 </form> 
  </div>

  

