<app-menu></app-menu>

<!-- no entiendo el examen -->



<div class="container">
  <form [formGroup]="formRegistrar">
  <div class="row">
          <mat-toolbar color="primary" >
          <span>Registra Solicitud de Préstamo </span>
          </mat-toolbar>
  </div>
  <div class="row" style="margin-top: 3%">


    <mat-form-field class="col-md-4">
      <mat-label>Días</mat-label>

      <mat-select [(ngModel)]="objPrestamo.dias!.idDataCatalogo" formControlName="validaPais" >
        <mat-option value="-1"> [Seleccione] </mat-option>


        <mat-option *ngFor="let x of lstDias"  [value]="x.idDataCatalogo"  >

          {{x.descripcion}}
        </mat-option>
    </mat-select>
    <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaPais.touched">
      <span *ngIf="formRegistrar.controls.validaPais.hasError('min')">
         los dias son requeridos
      </span>
  </mat-hint>

  </mat-form-field>
  </div>
  <div class="row" style="margin-top: 3%">


    <mat-form-field class="col-md-4">
      <mat-label>Capital</mat-label>

      <mat-select  [(ngModel)]="objPrestamo.capital" (selectionChange)="PonerMonto()" formControlName="validaCapital" >
        <mat-option value="-1"> [Seleccione] </mat-option>


        <mat-option *ngFor="let x of MontoPres"  [value]="x.idMontoPrestamo"  >

          {{x.capital}}
        </mat-option>
    </mat-select>
    <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaCapital.touched">
      <span *ngIf="formRegistrar.controls.validaCapital.hasError('min')">
         los dias son requeridos
      </span>
  </mat-hint>

  </mat-form-field>
  </div>
  <div  class="row"  style="margin-top: 3%">

<!--
              <mat-form-field class="col-md-6">
                  <mat-label>Monto a Pagar</mat-label>
                  <input  matInput  >
                </mat-form-field> -->

                <mat-form-field class="col-md-4">
                  <mat-label>monto</mat-label>

                  <mat-select  [(ngModel)]="objPrestamo.montoPagar" >
                    <mat-option value="-1"> [Seleccione] </mat-option>


                    <mat-option *ngFor="let x of capitaMonto"  [value]="x"  >

                      {{x}}
                    </mat-option>
                </mat-select>

              </mat-form-field>




  </div>
  <div  class="row"  style="margin-top: 3%">



    <mat-form-field  class="col-md-4">
      <mat-label>Elige la fecha de inicio</mat-label>
      <input matInput [matDatepicker]="picker" name='fechaInicioPrestamo' [(ngModel)] ="objPrestamo.fechaInicioPrestamo" >

      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>
  <div class="row" style="margin-top: 3%">

    <mat-form-field class="col-md-6">
      <mat-label>Prestatario</mat-label>
      <mat-select [(ngModel)]="objPrestamo.usuarioPrestatario!.idUsuario"  formControlName="validaUsuario" >
          <mat-option value="-1"> [Seleccione] </mat-option>
          <mat-option *ngFor="let x of lstPrestatarios" [value]="x.idUsuario">
              {{x.nombreCompleto}}
          </mat-option>
      </mat-select>
      <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaUsuario.touched">
        <span *ngIf="formRegistrar.controls.validaUsuario.hasError('min')">
           los dias son requeridos
        </span>
    </mat-hint>

  </mat-form-field>


  </div>

  <div  class="row" >

      <button mat-raised-button type="submit" color="primary" [disabled]="formRegistrar.invalid" (click)="registrar()" >Registrar</button>
  </div>
</form>
</div>
